# Practice Random Forest Pipeline/Workflow

In [73]:
# Imports
import pandas as pd
import numpy as np
import random
import string

### Create fake/dummy data

In [74]:
row_num = 5000

In [75]:
# Create columns names for dataset
columns = [''.join(random.choices(string.ascii_uppercase + string.digits, k=5)) for x in range(380)]

In [76]:
# Add Thyroid cancer to columns
columns.insert(0, 'userId')
# Add userId to columns
columns.append('thyroid_cancer')

In [134]:
# Create dataframe rows with different possible data types

dictionary = {}

for item in columns:

    column_options = [[random.randint(0,1) for i in range(row_num)], np.random.randint(0, 10, row_num, dtype=int), np.random.randint(0, 3, row_num, dtype=int),
                      np.random.random_sample(size = row_num), np.random.uniform(low=0, high=3000, size=row_num), np.random.uniform(low=0, high=150, size=row_num)]

    dictionary[item] = random.choice(column_options)

In [135]:
# Create the pandas DataFrame
df = pd.DataFrame(dictionary)

In [136]:
# Change userId values
df['userId'] = [x for x in range(row_num)]

# Make userId index
df.set_index('userId', inplace=True)

In [137]:
# Add missing values
for col in df.columns:
    df.loc[df.sample(frac=0.1).index, col] = np.nan

In [138]:
# Make thyroid cancer data binary with no missing values
df['thyroid_cancer'] = [random.randint(0, 1) for x in range(row_num)]

### Data preprocessing

In [139]:
df

,WJ8JY,I8TW5,F8YPW,LXWAW,AE2MP,BY8WN,0RAFY,7YM3A,VKIPV,8IYQ0,...,TYCKQ,JGCCC,SLFAN,7S72N,2V6ZN,H4MHW,5O094,PLNIC,F79GD,thyroid_cancer
userId,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.418408,131.953365,2334.364488,1.0,2.0,2013.305890,0.0,1.0,8.0,...,1987.786242,0.0,0.053345,0.0,0.961286,1.0,2.0,60.104376,93.392851,1
1,4.0,0.238648,15.852358,1484.842465,1.0,0.0,NaN,0.0,0.0,1.0,...,2891.726738,2.0,0.994365,2.0,0.822770,1.0,1.0,56.985685,123.352895,0
2,7.0,0.460547,67.491232,701.426396,NaN,0.0,2809.147418,0.0,0.0,4.0,...,2128.510179,0.0,0.058699,7.0,0.169334,0.0,2.0,6.631761,24.476376,1
3,8.0,0.314217,146.885621,2338.942198,0.0,2.0,NaN,1.0,0.0,8.0,...,28.007005,1.0,0.044292,8.0,0.981455,0.0,2.0,131.315222,140.450377,1
4,0.0,0.988836,142.380616,2550.182666,1.0,1.0,1822.446291,0.0,0.0,NaN,...,703.515014,1.0,0.760373,7.0,0.104623,1.0,1.0,144.459508,128.280684,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,8.0,0.969992,NaN,2454.982100,0.0,0.0,NaN,2.0,NaN,2.0,...,NaN,NaN,0.229091,6.0,0.512711,NaN,2.0,58.602944,24.234916,1
4996,4.0,0.252477,109.593193,559.348639,1.0,1.0,249.253127,NaN,0.0,4.0,...,2633.885799,1.0,0.225533,0.0,0.285324,1.0,1.0,39.888530,139.698478,0
4997,6.0,0.724609,122.741152,NaN,1.0,2.0,2405.025080,1.0,0.0,4.0,...,1878.751381,1.0,0.429800,7.0,0.607901,1.0,0.0,78.425190,NaN,0
4998,6.0,0.678043,100.637353,2743.252341,1.0,2.0,2174.972229,1.0,1.0,1.0,...,1798.681846,2.0,0.685401,9.0,0.121107,1.0,1.0,39.294898,126.164221,0
4999,6.0,0.437875,137.887992,2471.110950,NaN,2.0,1621.763901,0.0,0.0,5.0,...,2954.545852,2.0,0.200516,3.0,0.779229,1.0,2.0,121.645244,123.819650,1

In [140]:
# Make sure thyroid cancer column has been added

In [141]:
# Make sure diseases descriptions are the column names rather than just phecodes

In [142]:
# Manual feature selection - use mutual information and consider data leakage.

### Pipeline

In [146]:
# Create test-train split

In [158]:
# Find categorical data columns in dataframe

def find_categorical_columns(dataframe):

    columns = [list(dataframe[i]) for i in dataframe]

    uniques = [len(set([i for i in a if pd.notna(i)])) for a in columns]

    categorical_indexes = [i for i, c in enumerate(uniques) if c <= 10]

    unique_cat_num = [uniques[i] for i in categorical_indexes]

    index_ncats = list(zip(categorical_indexes, unique_cat_num))

    return index_ncats # return indexes of categorical data and the number of categories for that index

In [159]:
find_categorical_columns(df)

[(0, 10),
 (4, 2),
 (5, 3),
 (7, 3),
 (8, 2),
 (9, 10),
 (12, 2),
 (14, 2),
 (17, 2),
 (19, 2),
 (20, 2),
 (21, 10),
 (23, 2),
 (24, 2),
 (26, 3),
 (27, 2),
 (28, 10),
 (29, 10),
 (30, 3),
 (31, 10),
 (32, 3),
 (33, 2),
 (34, 2),
 (35, 10),
 (36, 2),
 (37, 10),
 (39, 3),
 (40, 10),
 (41, 10),
 (42, 2),
 (45, 3),
 (46, 3),
 (52, 2),
 (53, 10),
 (54, 3),
 (56, 3),
 (58, 2),
 (60, 10),
 (61, 10),
 (63, 3),
 (68, 3),
 (72, 3),
 (75, 2),
 (76, 10),
 (77, 3),
 (79, 2),
 (81, 3),
 (85, 3),
 (86, 2),
 (91, 10),
 (92, 3),
 (99, 10),
 (104, 10),
 (107, 2),
 (108, 3),
 (109, 10),
 (110, 10),
 (111, 2),
 (112, 10),
 (113, 3),
 (114, 3),
 (115, 2),
 (117, 2),
 (119, 2),
 (120, 3),
 (121, 10),
 (122, 3),
 (129, 2),
 (130, 10),
 (137, 3),
 (140, 3),
 (142, 3),
 (143, 10),
 (144, 3),
 (146, 2),
 (147, 10),
 (152, 2),
 (153, 10),
 (154, 2),
 (156, 3),
 (157, 2),
 (158, 3),
 (160, 3),
 (162, 2),
 (165, 10),
 (166, 3),
 (167, 3),
 (171, 10),
 (173, 2),
 (174, 2),
 (176, 3),
 (177, 10),
 (180, 3),
 (181, 2),
 (182, 10),
 (185, 2),
 (187, 2),
 (191, 10),
 (198, 2),
 (199, 3),
 (200, 10),
 (201, 10),
 (202, 2),
 (203, 2),
 (204, 3),
 (208, 2),
 (209, 3),
 (218, 2),
 (219, 2),
 (220, 2),
 (224, 3),
 (225, 2),
 (226, 3),
 (227, 2),
 (230, 3),
 (231, 3),
 (233, 2),
 (236, 2),
 (237, 2),
 (238, 3),
 (244, 2),
 (247, 10),
 (249, 3),
 (251, 10),
 (252, 10),
 (253, 2),
 (254, 3),
 (255, 10),
 (258, 2),
 (266, 10),
 (267, 10),
 (270, 10),
 (271, 10),
 (272, 3),
 (273, 3),
 (274, 3),
 (276, 3),
 (277, 10),
 (278, 3),
 (280, 3),
 (282, 10),
 (287, 3),
 (288, 10),
 (289, 3),
 (291, 10),
 (293, 2),
 (294, 3),
 (296, 10),
 (297, 2),
 (299, 2),
 (303, 3),
 (304, 2),
 (305, 10),
 (307, 10),
 (308, 2),
 (310, 3),
 (312, 3),
 (316, 10),
 (317, 3),
 (318, 10),
 (322, 2),
 (323, 10),
 (324, 10),
 (326, 2),
 (329, 3),
 (331, 3),
 (335, 3),
 (340, 3),
 (342, 10),
 (344, 3),
 (348, 3),
 (349, 10),
 (350, 2),
 (351, 2),
 (352, 3),
 (354, 10),
 (355, 2),
 (356, 2),
 (357, 3),
 (358, 10),
 (359, 3),
 (365, 10),
 (366, 2),
 (367, 3),
 (368, 2),
 (369, 3),
 (372, 3),
 (374, 10),
 (376, 3),
 (377, 3),
 (380, 2)]

In [89]:
# select categorical data columns
df.select_dtypes(include=['category','int']).dtypes

thyroid_cancer    int64
dtype: object

In [50]:
df.select_dtypes(include=['category','int','float']).dtypes

UPXE0             float64
ESY64             float64
WZ8RS             float64
82D8N             float64
35CIZ             float64
                   ...
CFR9E             float64
Y0BGK             float64
PPMTO             float64
ZTS4W             float64
thyroid_cancer      int64
Length: 381, dtype: object

Feature selection: MRMR or Recursive Feature Elimination (RFE) or Boruta

You could consider feature selection a hyperparameter. Consequently, you can include it as part of a cross validation grid search to obtain optimum hyperparameters for the model in question.

https://medium.com/data-science-reporter/feature-selection-via-grid-search-in-supervised-models-4dc0c43d7ab1

Preproccessing:

- Clean data
- Add thyroid cancer
- Colum names
- Manual feature selection (data leakage - look at mutual information)


Pipeline:

Test-Train split

1. Imputation
2. Feature scaling (not always)
3. Oversampling (not always)
4. Model selection
5. Cross validation grid search for hyperparameters and feature selection
6. Build Model
7.

In [51]:
for column in df.columns[1:]:
    print(df[column])

userId
0       2.0
1       0.0
2       3.0
3       3.0
4       1.0
       ...
4995    2.0
4996    3.0
4997    1.0
4998    1.0
4999    2.0
Name: ESY64, Length: 5000, dtype: float64
userId
0        0.0
1        NaN
2        8.0
3       10.0
4        9.0
        ...
4995     0.0
4996     1.0
4997     9.0
4998    10.0
4999     6.0
Name: WZ8RS, Length: 5000, dtype: float64
userId
0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
4995    0.0
4996    0.0
4997    0.0
4998    0.0
4999    0.0
Name: 82D8N, Length: 5000, dtype: float64
userId
0       1.0
1       0.0
2       NaN
3       0.0
4       1.0
       ...
4995    0.0
4996    1.0
4997    1.0
4998    NaN
4999    1.0
Name: 35CIZ, Length: 5000, dtype: float64
userId
0        6.0
1        0.0
2       10.0
3       10.0
4        1.0
        ...
4995     0.0
4996     1.0
4997     0.0
4998     6.0
4999     5.0
Name: 002RD, Length: 5000, dtype: float64
userId
0        89.614320
1        85.435542
2        23.050883
3        41.084895
4       135.267255
           ...
4995     59.246805
4996    111.722036
4997     47.053294
4998    125.452802
4999    104.205252
Name: MH90N, Length: 5000, dtype: float64
userId
0       0.989385
1       0.360954
2       0.589967
3       0.941524
4       0.429881
          ...
4995    0.818824
4996    0.434057
4997    0.574214
4998    0.536327
4999    0.414723
Name: IZUP3, Length: 5000, dtype: float64
userId
0        9.0
1        8.0
2        7.0
3        2.0
4        4.0
        ...
4995     3.0
4996     NaN
4997    10.0
4998     NaN
4999     7.0
Name: 1RBIO, Length: 5000, dtype: float64
userId
0       1221.255279
1       1544.448522
2        712.007997
3       2621.016393
4       1667.766402
           ...
4995     470.050672
4996    2051.746229
4997      67.513746
4998    2477.403459
4999            NaN
Name: N02AQ, Length: 5000, dtype: float64
userId
0        99.247519
1       123.853449
2        13.844495
3       132.630223
4        73.385367
           ...
4995    145.150081
4996     33.362473
4997    128.649765
4998    100.789548
4999     45.114024
Name: 6UCFG, Length: 5000, dtype: float64
userId
0       2099.698912
1       1106.347808
2       1011.059387
3       2921.506433
4       2924.649271
           ...
4995    2024.892997
4996    1552.347041
4997     745.935521
4998    1185.097542
4999    2416.323330
Name: YBQ0E, Length: 5000, dtype: float64
userId
0        8.0
1        9.0
2       10.0
3        4.0
4        4.0
        ...
4995     8.0
4996     1.0
4997     6.0
4998    10.0
4999     NaN
Name: AYKOS, Length: 5000, dtype: float64
userId
0       1294.459355
1       2301.495655
2         73.948198
3       2808.342114
4       2982.814707
           ...
4995     161.444946
4996            NaN
4997            NaN
4998       0.720348
4999     296.484347
Name: 1U9H8, Length: 5000, dtype: float64
userId
0       106.292433
1        78.132210
2       141.792336
3        17.477520
4       116.890824
           ...
4995     18.869344
4996      5.665413
4997     88.925174
4998      1.797574
4999    126.806599
Name: 1YF0W, Length: 5000, dtype: float64
userId
0       134.801516
1       138.880793
2        16.675700
3        82.560572
4        54.733329
           ...
4995     19.612980
4996    143.979976
4997           NaN
4998     67.308526
4999     92.565715
Name: H61GJ, Length: 5000, dtype: float64
userId
0        3.0
1        4.0
2        4.0
3       10.0
4        2.0
        ...
4995     3.0
4996     NaN
4997     3.0
4998     2.0
4999     1.0
Name: W9M46, Length: 5000, dtype: float64
userId
0         1.326892
1       114.379723
2        21.224091
3        40.331879
4        55.800026
           ...
4995     24.518308
4996    102.706623
4997           NaN
4998      9.169960
4999    142.182203
Name: 35WXQ, Length: 5000, dtype: float64
userId
0        5.0
1        6.0
2        4.0
3        8.0
4        NaN
        ...
4995     NaN
4996     2.0
4997     5.0
4998    10.0
4999     6.0
Name: M4187, Length: 5000, dtype: float64
userId
0       NaN
1       4.0
2       2.0
3       NaN
4       3.0
       ...
4995    8.0
4996    6.0
4997    3.0
4998    NaN
4999    NaN
Name: B7IG6, Length: 5000, dtype: float64
userId
0       1.0
1       NaN
2       NaN
3       NaN
4       3.0
       ...
4995    2.0
4996    2.0
4997    0.0
4998    0.0
4999    1.0
Name: U2KH5, Length: 5000, dtype: float64
userId
0       0.093464
1       0.979227
2       0.815105
3       0.178600
4       0.786269
          ...
4995    0.893364
4996    0.603248
4997    0.541235
4998         NaN
4999    0.453130
Name: BRH3F, Length: 5000, dtype: float64
userId
0       1.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
4995    0.0
4996    0.0
4997    0.0
4998    0.0
4999    0.0
Name: KZGDF, Length: 5000, dtype: float64
userId
0       1.0
1       NaN
2       1.0
3       2.0
4       2.0
       ...
4995    3.0
4996    0.0
4997    3.0
4998    3.0
4999    1.0
Name: F0XR9, Length: 5000, dtype: float64
userId
0            NaN
1       0.511839
2       0.650145
3       0.466907
4       0.905634
          ...
4995    0.079642
4996    0.679382
4997    0.494793
4998    0.494324
4999    0.768306
Name: JG6QZ, Length: 5000, dtype: float64
userId
0       0.893242
1       0.983311
2       0.316628
3       0.312142
4       0.132003
          ...
4995    0.286720
4996    0.496968
4997    0.638729
4998    0.670120
4999    0.383874
Name: DCRQ8, Length: 5000, dtype: float64
userId
0       0.143078
1       0.820121
2       0.786943
3       0.114297
4       0.697901
          ...
4995    0.995752
4996    0.377412
4997    0.679861
4998    0.827245
4999    0.474712
Name: 7K4XX, Length: 5000, dtype: float64
userId
0       3.0
1       3.0
2       2.0
3       0.0
4       1.0
       ...
4995    3.0
4996    1.0
4997    NaN
4998    0.0
4999    1.0
Name: J86LD, Length: 5000, dtype: float64
userId
0        99.167679
1        92.864750
2       122.796820
3        75.966750
4       145.308477
           ...
4995    140.826483
4996    125.470911
4997     32.872222
4998    122.848889
4999     86.825819
Name: XESEJ, Length: 5000, dtype: float64
userId
0       1.0
1       0.0
2       1.0
3       1.0
4       0.0
       ...
4995    0.0
4996    0.0
4997    0.0
4998    1.0
4999    0.0
Name: SOLU2, Length: 5000, dtype: float64
userId
0       0.561217
1       0.055646
2       0.509329
3       0.797610
4       0.614366
          ...
4995    0.149405
4996    0.600060
4997    0.013291
4998         NaN
4999    0.775328
Name: 6QK2K, Length: 5000, dtype: float64
userId
0        27.693937
1       107.039791
2       129.766143
3        77.325391
4         5.776675
           ...
4995    138.800281
4996    106.171682
4997    117.447537
4998     47.669291
4999     96.982788
Name: K32H5, Length: 5000, dtype: float64
userId
0       111.054698
1        21.816547
2         9.660330
3        24.279367
4        32.547247
           ...
4995     73.815757
4996    117.410994
4997    112.683520
4998     45.712620
4999     18.301400
Name: 2EIVT, Length: 5000, dtype: float64
userId
0       0.853586
1       0.839792
2       0.989082
3       0.743863
4       0.673718
          ...
4995    0.240651
4996    0.096977
4997         NaN
4998    0.257006
4999    0.730508
Name: YB1DD, Length: 5000, dtype: float64
userId
0        730.056612
1        164.441255
2       1083.185569
3        100.307310
4       2118.440228
           ...
4995     638.960688
4996    2294.772460
4997    2470.644204
4998            NaN
4999     613.135464
Name: YGDCJ, Length: 5000, dtype: float64
userId
0       1.0
1       NaN
2       0.0
3       1.0
4       0.0
       ...
4995    NaN
4996    1.0
4997    0.0
4998    1.0
4999    1.0
Name: GX178, Length: 5000, dtype: float64
userId
0       0.0
1       1.0
2       NaN
3       1.0
4       2.0
       ...
4995    NaN
4996    0.0
4997    3.0
4998    1.0
4999    3.0
Name: CDQOU, Length: 5000, dtype: float64
userId
0       0.446947
1       0.082768
2       0.541251
3       0.415078
4       0.866407
          ...
4995    0.572312
4996    0.166598
4997    0.825314
4998    0.132067
4999    0.674950
Name: PTNMY, Length: 5000, dtype: float64
userId
0       0.367199
1       0.236547
2       0.859542
3       0.242679
4       0.629622
          ...
4995    0.096661
4996    0.621751
4997    0.330746
4998    0.377878
4999    0.645130
Name: 5SVES, Length: 5000, dtype: float64
userId
0        51.529178
1        54.707580
2        39.356787
3              NaN
4        80.050839
           ...
4995     94.107049
4996    112.064816
4997      7.757199
4998     46.014257
4999     47.502590
Name: 7YOW3, Length: 5000, dtype: float64
userId
0       0.626540
1       0.584925
2       0.181519
3            NaN
4       0.873702
          ...
4995    0.723312
4996    0.614648
4997    0.520220
4998    0.388175
4999         NaN
Name: BXNC1, Length: 5000, dtype: float64
userId
0       3.0
1       1.0
2       0.0
3       0.0
4       3.0
       ...
4995    1.0
4996    2.0
4997    NaN
4998    NaN
4999    2.0
Name: SE4V0, Length: 5000, dtype: float64
userId
0        40.973042
1       139.670505
2              NaN
3        99.900721
4        56.224080
           ...
4995           NaN
4996     95.381611
4997    111.470775
4998     21.109173
4999     15.098726
Name: 620QJ, Length: 5000, dtype: float64
userId
0       0.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
4995    1.0
4996    1.0
4997    0.0
4998    0.0
4999    1.0
Name: LA8HW, Length: 5000, dtype: float64
userId
0              NaN
1        76.545621
2        43.032305
3       140.026349
4         8.167639
           ...
4995     13.308102
4996     70.914363
4997     41.510796
4998     38.543668
4999     59.789881
Name: COGYN, Length: 5000, dtype: float64
userId
0       122.493741
1       119.610511
2         8.401133
3        70.792319
4        80.752946
           ...
4995    133.145033
4996           NaN
4997     23.420627
4998     52.123042
4999     31.554342
Name: MI1SQ, Length: 5000, dtype: float64
userId
0            NaN
1            NaN
2       0.921186
3       0.984614
4       0.553901
          ...
4995    0.237424
4996    0.587571
4997    0.128750
4998    0.759471
4999    0.447929
Name: 27XMY, Length: 5000, dtype: float64
userId
0       0.201875
1       0.690927
2            NaN
3       0.293931
4       0.799517
          ...
4995    0.671360
4996    0.711918
4997    0.940426
4998    0.822053
4999    0.177586
Name: UPN6O, Length: 5000, dtype: float64
userId
0       3.0
1       2.0
2       1.0
3       2.0
4       3.0
       ...
4995    1.0
4996    NaN
4997    3.0
4998    1.0
4999    0.0
Name: YH8Q9, Length: 5000, dtype: float64
userId
0       149.876222
1         7.212764
2        31.142608
3       148.625796
4        42.841750
           ...
4995     62.487392
4996    141.887418
4997     48.538756
4998     35.177542
4999           NaN
Name: 79IO7, Length: 5000, dtype: float64
userId
0       0.0
1       NaN
2       0.0
3       1.0
4       0.0
       ...
4995    0.0
4996    0.0
4997    0.0
4998    1.0
4999    1.0
Name: 8Q093, Length: 5000, dtype: float64
userId
0       0.0
1       0.0
2       2.0
3       0.0
4       NaN
       ...
4995    3.0
4996    3.0
4997    2.0
4998    0.0
4999    3.0
Name: STYMS, Length: 5000, dtype: float64
userId
0       1.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
4995    1.0
4996    1.0
4997    1.0
4998    1.0
4999    0.0
Name: VW4TU, Length: 5000, dtype: float64
userId
0       0.081363
1       0.222346
2       0.829523
3       0.803489
4       0.036415
          ...
4995    0.697735
4996    0.790333
4997    0.899744
4998    0.905955
4999    0.256776
Name: WJ0ZD, Length: 5000, dtype: float64
userId
0         8.841260
1              NaN
2       108.257942
3        96.360141
4        52.935841
           ...
4995     73.808814
4996           NaN
4997     23.097753
4998      8.466269
4999     69.735188
Name: PIZGI, Length: 5000, dtype: float64
userId
0              NaN
1       110.205987
2              NaN
3        79.409395
4        51.385728
           ...
4995     14.950749
4996     17.517059
4997      4.317074
4998     83.332510
4999     94.761924
Name: E1UPM, Length: 5000, dtype: float64
userId
0        908.574411
1       2210.792294
2       2146.639903
3       2574.306800
4       1736.069099
           ...
4995    2349.774697
4996    2481.809128
4997    1271.791223
4998    2586.106435
4999    2556.228409
Name: F88EC, Length: 5000, dtype: float64
userId
0       1.0
1       1.0
2       2.0
3       2.0
4       3.0
       ...
4995    1.0
4996    NaN
4997    1.0
4998    0.0
4999    3.0
Name: 9LVV4, Length: 5000, dtype: float64
userId
0       6.0
1       4.0
2       9.0
3       7.0
4       1.0
       ...
4995    1.0
4996    9.0
4997    2.0
4998    6.0
4999    9.0
Name: 96CEF, Length: 5000, dtype: float64
userId
0       9.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4995    2.0
4996    4.0
4997    2.0
4998    5.0
4999    9.0
Name: ICTPH, Length: 5000, dtype: float64
userId
0       1.0
1       0.0
2       1.0
3       0.0
4       1.0
       ...
4995    0.0
4996    0.0
4997    1.0
4998    0.0
4999    0.0
Name: NK20U, Length: 5000, dtype: float64
userId
0       0.0
1       0.0
2       NaN
3       1.0
4       1.0
       ...
4995    1.0
4996    1.0
4997    1.0
4998    0.0
4999    0.0
Name: HNUHU, Length: 5000, dtype: float64
userId
0        761.305466
1       1457.612168
2         74.385967
3       2863.737358
4       2955.969833
           ...
4995    1714.272486
4996            NaN
4997     981.883477
4998    2233.604312
4999     809.191098
Name: 6H3K9, Length: 5000, dtype: float64
userId
0       123.625482
1        42.822104
2        84.411329
3       131.640994
4       105.039971
           ...
4995     57.204692
4996     62.211362
4997     72.797399
4998     33.531719
4999    130.102473
Name: H298O, Length: 5000, dtype: float64
userId
0       2.0
1       1.0
2       3.0
3       1.0
4       3.0
       ...
4995    NaN
4996    2.0
4997    NaN
4998    3.0
4999    3.0
Name: NQ62F, Length: 5000, dtype: float64
userId
0        NaN
1        6.0
2       10.0
3        6.0
4        3.0
        ...
4995     2.0
4996     2.0
4997     6.0
4998     6.0
4999     2.0
Name: 57K4Q, Length: 5000, dtype: float64
userId
0       0.478950
1            NaN
2       0.553978
3       0.328585
4       0.358542
          ...
4995         NaN
4996         NaN
4997         NaN
4998    0.949079
4999    0.901029
Name: 6TLNI, Length: 5000, dtype: float64
userId
0       1.0
1       1.0
2       1.0
3       3.0
4       0.0
       ...
4995    1.0
4996    3.0
4997    0.0
4998    1.0
4999    3.0
Name: BFDMU, Length: 5000, dtype: float64
userId
0       0.0
1       0.0
2       NaN
3       0.0
4       3.0
       ...
4995    1.0
4996    0.0
4997    3.0
4998    NaN
4999    3.0
Name: ENOWE, Length: 5000, dtype: float64
userId
0       0.0
1       1.0
2       1.0
3       0.0
4       0.0
       ...
4995    NaN
4996    0.0
4997    1.0
4998    1.0
4999    1.0
Name: 557QK, Length: 5000, dtype: float64
userId
0       1.0
1       1.0
2       0.0
3       1.0
4       0.0
       ...
4995    NaN
4996    0.0
4997    0.0
4998    NaN
4999    0.0
Name: YBAPF, Length: 5000, dtype: float64
userId
0        40.177643
1        24.122417
2        77.318779
3       122.108350
4        66.675381
           ...
4995     94.531466
4996      1.247018
4997    118.663137
4998     99.722510
4999      0.841931
Name: EKLN4, Length: 5000, dtype: float64
userId
0        2.0
1       10.0
2        7.0
3        6.0
4        3.0
        ...
4995     2.0
4996     1.0
4997     4.0
4998     6.0
4999     5.0
Name: D0YDH, Length: 5000, dtype: float64
userId
0       0.0
1       0.0
2       3.0
3       1.0
4       2.0
       ...
4995    2.0
4996    2.0
4997    0.0
4998    NaN
4999    1.0
Name: YPMH0, Length: 5000, dtype: float64
userId
0       1.0
1       1.0
2       2.0
3       3.0
4       1.0
       ...
4995    2.0
4996    0.0
4997    0.0
4998    3.0
4999    1.0
Name: 9MX6E, Length: 5000, dtype: float64
userId
0       0.511861
1       0.274230
2       0.530828
3       0.737647
4       0.061774
          ...
4995    0.069969
4996    0.026862
4997    0.013869
4998    0.562519
4999    0.035194
Name: CPG0Y, Length: 5000, dtype: float64
userId
0            NaN
1       0.505830
2       0.017721
3       0.779662
4       0.961993
          ...
4995    0.883583
4996    0.440776
4997    0.780754
4998    0.368398
4999    0.342821
Name: CLV01, Length: 5000, dtype: float64
userId
0       6.0
1       0.0
2       3.0
3       5.0
4       7.0
       ...
4995    7.0
4996    1.0
4997    5.0
4998    5.0
4999    0.0
Name: 98MP5, Length: 5000, dtype: float64
userId
0       0.265428
1       0.253589
2       0.857914
3            NaN
4       0.470546
          ...
4995    0.524096
4996    0.154821
4997    0.708465
4998    0.267721
4999    0.962857
Name: 4MZ00, Length: 5000, dtype: float64
userId
0       4.0
1       7.0
2       6.0
3       5.0
4       6.0
       ...
4995    NaN
4996    9.0
4997    7.0
4998    9.0
4999    6.0
Name: 0C3FV, Length: 5000, dtype: float64
userId
0        52.616233
1       106.627183
2        25.278204
3              NaN
4       115.606847
           ...
4995    136.871130
4996     78.953243
4997     12.058785
4998      1.020726
4999     24.870677
Name: PFQHC, Length: 5000, dtype: float64
userId
0       0.853571
1            NaN
2       0.662650
3       0.014267
4       0.113636
          ...
4995    0.404860
4996    0.038145
4997    0.720040
4998    0.664322
4999    0.657527
Name: U1EHL, Length: 5000, dtype: float64
userId
0       NaN
1       0.0
2       2.0
3       NaN
4       3.0
       ...
4995    NaN
4996    2.0
4997    NaN
4998    2.0
4999    1.0
Name: KMHK7, Length: 5000, dtype: float64
userId
0       1590.467666
1               NaN
2       2375.736325
3        180.045000
4       1336.489643
           ...
4995    2211.285018
4996    2815.817799
4997    1154.121823
4998     202.420323
4999    2173.757969
Name: FSE58, Length: 5000, dtype: float64
userId
0       0.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
4995    0.0
4996    1.0
4997    0.0
4998    NaN
4999    0.0
Name: OHVV9, Length: 5000, dtype: float64
userId
0       2898.443651
1       2622.324359
2       1951.685972
3       1060.392965
4       2362.263613
           ...
4995            NaN
4996    2869.058866
4997    2724.577301
4998    1408.017607
4999    2243.039239
Name: ZZ0PJ, Length: 5000, dtype: float64
userId
0       0.0
1       NaN
2       1.0
3       1.0
4       1.0
       ...
4995    1.0
4996    1.0
4997    0.0
4998    0.0
4999    0.0
Name: D9Y1O, Length: 5000, dtype: float64
userId
0        62.872560
1       139.865503
2        27.879899
3              NaN
4        43.203732
           ...
4995    102.319331
4996     78.874248
4997    106.575811
4998    110.898181
4999           NaN
Name: 6A3DK, Length: 5000, dtype: float64
userId
0        305.075717
1        110.629041
2        358.059369
3        210.710691
4       2902.373086
           ...
4995    2569.303894
4996    1735.093191
4997    1519.976356
4998            NaN
4999    2020.602502
Name: ZVHU0, Length: 5000, dtype: float64
userId
0       5.0
1       1.0
2       0.0
3       0.0
4       8.0
       ...
4995    6.0
4996    7.0
4997    2.0
4998    9.0
4999    1.0
Name: G1T8X, Length: 5000, dtype: float64
userId
0       6.0
1       4.0
2       NaN
3       2.0
4       7.0
       ...
4995    9.0
4996    0.0
4997    6.0
4998    3.0
4999    7.0
Name: EHNMJ, Length: 5000, dtype: float64
userId
0       0.0
1       3.0
2       0.0
3       1.0
4       1.0
       ...
4995    2.0
4996    1.0
4997    2.0
4998    2.0
4999    1.0
Name: 9SMW5, Length: 5000, dtype: float64
userId
0       10.0
1        3.0
2        3.0
3        2.0
4        0.0
        ...
4995    10.0
4996     6.0
4997     1.0
4998     1.0
4999     3.0
Name: BKF5B, Length: 5000, dtype: float64
userId
0       10.0
1        NaN
2       10.0
3       10.0
4        5.0
        ...
4995    10.0
4996     8.0
4997     8.0
4998     8.0
4999     1.0
Name: ZWNAT, Length: 5000, dtype: float64
userId
0       0.0
1       3.0

In [57]:
df.columns

Index(['UPXE0', 'ESY64', 'WZ8RS', '82D8N', '35CIZ', '002RD', 'MH90N', 'IZUP3',
       '1RBIO', 'N02AQ',
       ...
       'BS488', '586B9', '4RNLE', 'BVVUP', '246U4', 'CFR9E', 'Y0BGK', 'PPMTO',
       'ZTS4W', 'thyroid_cancer'],
      dtype='object', length=381)

In [90]:
a = list(np.random.randint(0, 2, row_num, dtype=int))
type(a[0])

numpy.int64